---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/PostCard.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE } from "@config";
import RssIcon from "@components/RssIcon.astro";
import { IconArrowRight } from "@tabler/icons-react";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main>
    <section class="py-12">
      <div class="flex flex-col gap-8 sm:flex-row">
        <div class="flex flex-col items-center">
          <div class="flex items-center justify-center gap-2 pb-6">
            <h1 class="text-5xl font-bold">CodeLog</h1>
            <a
              target="_blank"
              href="/rss.xml"
              class="rss-link"
              aria-label="rss feed"
              title="RSS Feed"
            >
              <RssIcon />
              <span class="sr-only">RSS Feed</span>
            </a>
          </div>
          <img
            class="max-w-48"
            src="/assets/images/developer.svg"
            alt="developer"
          />
        </div>
        <div class="prose grow text-lg">
          <p>
            Welcome to CodeLog, a tech blog by Eugene, driven by a passion for
            software engineering and innovation.
          </p>
          <p>
            At CodeLog, I share insights, lessons, and best practices from my
            journey in the software development world. Whether you’re building
            modern web applications, exploring new frameworks, or seeking ways
            to improve your development process, this blog is a space for
            developers of all levels to learn, grow, and be inspired.
          </p>
        </div>
      </div>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${data.slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${data.slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="flex justify-center pb-8">
      <LinkButton className="flex" href="/posts/">
        View All Posts
        <IconArrowRight />
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
