---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import {
  IconArchive,
  IconSearch,
  IconMoon,
  IconSun,
} from "@tabler/icons-react";

export interface Props {
  activeNav?: "posts" | "archives" | "tags" | "about" | "search" | "projects";
}

const { activeNav } = Astro.props;
const currentUrl = Astro.url.pathname;
---

<header class="flex items-center border-b border-theme-accent py-4">
  {currentUrl}
  <a href="/" class="flex items-center gap-2">
    <img
      src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
      alt={SITE.title}
      width={LOGO_IMAGE.width}
      height={LOGO_IMAGE.height}
    />
    <span class="md:text-3xl font-mono text-2xl">{SITE.title}</span>
  </a>
  <nav class="flex grow items-center justify-end">
    <ul class="flex items-center gap-6 font-mono">
      <li>
        <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
          Posts
        </a>
      </li>
      <li>
        <a href="/projects/" class={activeNav === "projects" ? "active" : ""}>
          Projects
        </a>
      </li>
      <li>
        <a href="/tags/" class={activeNav === "tags" ? "active" : ""}> Tags </a>
      </li>
      <li>
        <a href="/about/" class={activeNav === "about" ? "active" : ""}>
          About
        </a>
      </li>
      <li>
        <LinkButton href="/archives/" ariaLabel="archives" title="Archives">
          <IconArchive />
          <span
            class:list={["sm:sr-only", activeNav === "archives" && "active"]}
          >
            Archives
          </span>
        </LinkButton>
      </li>

      <li>
        <LinkButton
          href="/search/"
          className={`focus-outline p-3 sm:p-1 ${
            activeNav === "search" ? "active" : ""
          } flex`}
          ariaLabel="search"
          title="Search"
        >
          <IconSearch fill="red" fillOpacity={0} />
          <span class="sr-only">Search</span>
        </LinkButton>
      </li>
      <li>
        <button
          id="theme-btn"
          class="focus-outline"
          title="Toggles light & dark"
          aria-label="auto"
          aria-live="polite"
        >
          <IconMoon id="moon-svg" />
          <IconSun id="sun-svg" />
        </button>
      </li>
    </ul>
  </nav>
</header>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("hidden");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
