---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime.astro";
import type { CollectionEntry } from "astro:content";
import ShareLinks from "@components/ShareLinks.astro";
import PostFooter from "@components/PostFooter.astro";
import BackToTop from "@components/BackToTop.astro";
import { SITE } from "@config";
import EditPost from "@components/EditPost.astro";
import { render } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
  posts: CollectionEntry<"blog">[];
}

const { post, posts } = Astro.props;

const { Content } = await render(post);

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  pubDatetime,
  modDatetime,
  tags,
  slug,
} = post.data;

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(
  ogImageUrl ?? `/posts/${slug}/index.png`,
  Astro.url.origin
).href;

const layoutProps = {
  title: `${title} | ${SITE.title}`,
  author,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  ogImage: ogUrl,
  scrollSmooth: true,
};

const allPosts = posts.map(data => ({
  slug: data.data.slug,
  title: data.data.title,
}));

const currentPostIndex = allPosts.findIndex(a => a.slug === post.data.slug);

const prevPost = currentPostIndex !== 0 ? allPosts[currentPostIndex - 1] : null;
const nextPost =
  currentPostIndex !== allPosts.length ? allPosts[currentPostIndex + 1] : null;
---

<Layout {...layoutProps}>
  <Header />
  <main class="py-8">
    <h1 transition:name={slug} class="text-2xl font-semibold text-theme-accent">
      {title}
    </h1>
    <div class="flex items-center justify-between">
      <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
      <EditPost postId={post.id} />
    </div>
    <article id="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
    <ul class="my-8">
      {tags.map(tag => <Tag tag={tag} />)}
    </ul>
    <div
      class="flex flex-col-reverse items-center justify-between gap-6 sm:flex-row-reverse sm:items-end sm:gap-4"
    >
      <BackToTop />
      <ShareLinks />
    </div>
    <hr class="mt-4 border-dashed" />
    <div class="py-6">
      <PostFooter nextPost={nextPost as never} prevPost={prevPost as never} />
    </div>
    <Footer />
  </main>

  <script src="/scripts/post-details.js" is:inline data-astro-rerun></script>
</Layout>
